.card 
{
	position: relative;
	top: 0%;
	left: 0%;
}

.card_top
{
	position: absolute;
}

.picture
{
	position: absolute;
	top: 1000%;
	left: 10%;

	/*border: 5px solid white;
	border-collapse: separate;
	overflow: hidden; 
	border-radius: 50%;*/
}

.credentials_name
{
	position: absolute;
	top: 300%;
	left: 9.1%;

	font-size: 18px;
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 700;
}

.credentials_26
{
	position: absolute;
	top: 300%;
	left: 16.5%;
}

.credentials_city
{
	position: absolute;
	top: 400%;
	left: 12%;
}

hr
{
	position: absolute;
	top: 600%;
	left: 0%;
}

.stats_80k
{
	position: absolute;
	top: 1000%;
	left: 2%;
}

.stats_803k
{
	position: absolute;
	top: 900%;
	left: 5%;
}

.stats_1_4k
{
	position: absolute;
	top: 900%;
	left: 15%;
}

.stats_followers
{
	position: absolute;
	top: 1200%;
	left: 2%;
}

.stats_likes
{
	position: absolute;
	top: 1200%;
	left: 5%;
}

.stats_photos
{
	position: absolute;
	top: 1200%;
	left: 15%;
}

