.card
{
	position: relative;
}

.profile_pic
{
	position: absolute;
	top: 12%;
	left: 10%;

	border: 5px solid white;
	border-collapse: separate;
	overflow: hidden; 
	border-radius: 50%;
}

.credentials
{
	position: absolute;
	top: 27%;
	left: 9%;
}

hr
{
	position: absolute;
	top: 35%;

}



.stats
{
	position: absolute;
	top: 40%;
	left: 2%;
}
.name
{
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

._26
{
	font-size: 18px;
	color: hsl(0, 0%, 59%);
}

.city
{
	color: hsl(0, 0%, 59%);
	margin-top: 2em; 
}

.digit
{
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;	
}

.desc
{
	color: hsl(0, 0%, 59%); 
	font-size: 13px;	
}


